webservice/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculoSueldo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ident" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sueldo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="domingos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fallas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="horasext" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculoSueldoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculoSueldoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ident" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Devengados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Domingos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevengadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevengadosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deducciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fallas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeduccionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeduccionesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculoSueldoSoapIn">
    <wsdl:part name="parameters" element="tns:CalculoSueldo" />
  </wsdl:message>
  <wsdl:message name="CalculoSueldoSoapOut">
    <wsdl:part name="parameters" element="tns:CalculoSueldoResponse" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Persona" />
  </wsdl:message>
  <wsdl:message name="PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="DevengadosSoapIn">
    <wsdl:part name="parameters" element="tns:Devengados" />
  </wsdl:message>
  <wsdl:message name="DevengadosSoapOut">
    <wsdl:part name="parameters" element="tns:DevengadosResponse" />
  </wsdl:message>
  <wsdl:message name="DeduccionesSoapIn">
    <wsdl:part name="parameters" element="tns:Deducciones" />
  </wsdl:message>
  <wsdl:message name="DeduccionesSoapOut">
    <wsdl:part name="parameters" element="tns:DeduccionesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CalculoSueldo">
      <wsdl:input message="tns:CalculoSueldoSoapIn" />
      <wsdl:output message="tns:CalculoSueldoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <wsdl:input message="tns:PersonaSoapIn" />
      <wsdl:output message="tns:PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Devengados">
      <wsdl:input message="tns:DevengadosSoapIn" />
      <wsdl:output message="tns:DevengadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deducciones">
      <wsdl:input message="tns:DeduccionesSoapIn" />
      <wsdl:output message="tns:DeduccionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculoSueldo">
      <soap:operation soapAction="http://tempuri.org/CalculoSueldo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap:operation soapAction="http://tempuri.org/Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devengados">
      <soap:operation soapAction="http://tempuri.org/Devengados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deducciones">
      <soap:operation soapAction="http://tempuri.org/Deducciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculoSueldo">
      <soap12:operation soapAction="http://tempuri.org/CalculoSueldo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persona">
      <soap12:operation soapAction="http://tempuri.org/Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devengados">
      <soap12:operation soapAction="http://tempuri.org/Devengados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deducciones">
      <soap12:operation soapAction="http://tempuri.org/Deducciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>